body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/bagrowond.jpg);
    overflow: hidden;
    cursor: pointer;
}

.container{
    font-size: 6px;
    width: 40em;
    height: 40em;
    position: relative;
}

img{
   height: 130%;
   width: 130%; 
}
.Sun{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15em;
    left: 15em;
    height:7em;
    width:9em;
    border-radius: 50%;
    animation: orbit 50s linear infinite;
}
.Mercury,.Venus,.Earth,.Moon,.Mars,.Jupiter,.Saturn,.Uranus,.Neptune,.Pluto{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent; 
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}

.Mercury{
    top: 12.5em;
    left: 12.5em;
    width: 14em;
    height: 15em;
    animation: orbit 68.7s linear infinite;
}

.Venus{
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 48.7s linear infinite;
}

.Earth{
    top: 6em;
    left: 6em;
    width: 28em;
    height: 28em;
    animation: orbit 36.5s linear infinite;
}

.Moon{
    top: 2em;
    right: -1em;
    width: 7em;
    height: 7em;
    animation: orbit 2.7s linear infinite;
}

.Mars{
    top: 2em;
    left: 2.5em;
    width: 36em;
    height: 36em;
    animation: orbit 26.5s linear infinite;
}

.Jupiter{
    top: -2em;
    left: -2em;
    width: 45em;
    height: 45em;
    animation: orbit 21s linear infinite;
}

.Saturn{
    top: -7em;
    left: -7em;
    width: 55em;
    height: 55em;
    animation: orbit 17s linear infinite;
}

.Uranus{
    top: -12em;
    left: -12em;
    width: 65em;
    height: 65em;
    animation: orbit 19s linear infinite;
}

.Neptune{
    top: -17em;
    left: -17em;
    width: 75em;
    height: 75em;
    animation: orbit 15s linear infinite;
}

.Pluto{
    top: -22em;
    left: -22em;
    width: 85em;
    height: 85em;
    animation: orbit 18s linear infinite;
}

.Mercury::before,.Venus::before,.Earth::before,.Moon::before,.Mars::before,.Jupiter::before,.Saturn::before,.Uranus::before,.Neptune::before,.Pluto::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    animation: orbit 50s linear infinite;
}

.Mercury::before{
    top: 1.5em;
    right: 0.8em;
    width: 2em;
    height: 2em;
    background-image: url('./img/mercury.png');
    background-size: cover;
}

.Venus::before{
    top: 2em;
    right: 2em;
    width: 3em;
    height: 2em;
    background-image: url('./img/venus.png');
    background-size: cover;
}
.Earth::before{
    top: 3em;
    right: 0em;
    width: 5em;
    height: 5em;
    background-image: url('./img/earth.png');
    background-size: cover;
}
.Moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.3em;
    height: 1.2em;
    background-image: url('./img/moon.png');
    background-size: cover;
}
.Mars::before{
    top: 5em;
    right: 3em;
    width: 4em;
    height: 3em;
    background-image: url('./img/marsh.png');
    background-size: cover;
}
.Jupiter::before{
    top: 6em;
    right: 2em;
    width: 8em;
    height: 5em;
    background-image: url('./img/jupiter.png');
    background-size: cover;
}
.Saturn::before{
    top: 6.5em;
    right: 3em;
    width: 8.6em;
    height: 4.5em;
    background-image: url('./img/saturn.png');
    background-size: cover;
}
.Uranus::before{
    top:9em;
    right:6.5em;
    width: 5em;
    height: 4em;
    background-image: url('./img/uranus.png');
    background-size: cover;
}
.Neptune::before{
    top: 10em;
    right:8em;
    width:5em;
    height:4em;
    background-image: url('./img/neptune.png');
    background-size: cover;
}
.Pluto::before{
    top: 11em;
    right: 10em;
    width:5em;
    height:4em;
    background-image: url('./img/pluto.png');
    background-size: cover;
}

@keyframes orbit{
    to{
        transform:rotate(360deg);
    }
}

